In [1]:
# dataframe management
import pandas as pd
import math
import numpy as np
import random
import sklearn
import time
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from functools import reduce # Valid in Python 2.6+, required in Python 3
import operator
from pyomo.environ import *
from pyomo.opt import SolverFactory
from source.util import *
from source.maths1 import *
from sklearn.model_selection import KFold
from source.kernel_extended import *

In [2]:
data = pd.read_csv('IrisCategorical.csv')
data = data.drop('Id', axis=1)
data_std = data.copy()
data.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
# Rename the column with the label with generic name 'Classes'
data.rename(columns={'Species':'Classes'}, inplace=True)
data_std.rename(columns={'Species':'Classes'},inplace=True)
# Setting of the Scaling (to interval (0,1)) phase
scaler = MinMaxScaler()

#Preprocessing: we get the columns names of features which have to be standardized
columns_names = list(data)
index_features = list(range(0,len(data_std.columns)-1))

#The name of the classes K
classes = data_std['Classes'].unique().tolist()
classes_en = [i for i in range(len(classes))] 

#Encoder processing
le = preprocessing.LabelEncoder()
le.fit(data_std['Classes'])

data_std['Classes'] = le.transform(data_std['Classes']) 

#Scaling phase
data_std[columns_names[0:len(index_features)]] = scaler.fit_transform(data_std[columns_names[0:len(index_features)]])

In [4]:
data_std = data_std.sample(frac= 1 ,random_state = 855).reset_index(drop=True)
data_ex =extended2_df(data_std)
# for bug in sklearn preprocessing package: non succede in tutti i dataset ma nel dubbio
data_std = data_std.replace(1.0000000000000002, 1)
data_std = data_std.replace(1.0000000000000004, 1)
data_std = data_std.replace(1.0000000000000009, 1)
data_ex = data_ex.replace(1.0000000000000002, 1)
data_ex = data_ex.replace(1.0000000000000004, 1)
data_ex = data_ex.replace(1.0000000000000009, 1)

In [5]:
initialization = {'init_data': [1324, 4162, 2354, 8395, 2009, 770, 166, 281, 6181, 901, 405],
 'init_var': [[8838, 8390, 6503, 1145, 2352, 5128, 5022, 8365, 427],
  [2569, 8549, 9216, 8087, 5029, 9208, 2576, 6217, 75],
  [517, 230, 246, 980, 8429, 59, 617, 8361, 2983],
  [4895, 2471, 3107, 3044, 1163, 1173, 9186, 2324, 1278],
  [8236, 2191, 9127, 3335, 5876, 7880, 6096, 3163, 649],
  [2784, 5850, 2161, 512, 758, 1737, 829, 3741, 943],
  [7951, 8064, 6754, 2009, 6507, 8895, 8320, 7779, 792],
  [4138, 5831, 5883, 9000, 6780, 9391, 8144, 9610, 109],
  [486, 21, 776, 958, 557, 494, 319, 12, 3452],
  [7863, 2522, 6532, 7737, 7316, 5823, 3838, 2940, 9528]]}

In [12]:
prova = extended_kernel(data_std,data_std,2,initialization,type_reg="simple")

it = 0

In [13]:
prova.data_set.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Classes
0       0.500000      0.250000       0.779661      0.541667        2
1       0.944444      0.333333       0.966102      0.791667        2

In [11]:
prova.init

'simple'

In [14]:
prova.update()

Init values defined.
Objective function loaded

True

it = 1

In [15]:
prova.data_set.head(2)

,0,1,2,3,0-1,0-2,1-1,2-3,Classes
0,0.500000,0.250000,0.779661,0.541667,0.125000,0.389831,0.062500,0.422316,2
1,0.944444,0.333333,0.966102,0.791667,0.314815,0.912429,0.111111,0.764831,2

In [13]:
prova.update()

Init values defined.
Objective function loaded
INDICI:
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
Index(['0', '1', '2', '3', '4', '5', '6', '7', '0-7', '3-4', '6-6', 'Classes'], dtype='object')

True

In [14]:
prova.data_set.head(2)

,0,1,2,3,0-1,0-2,1-1,2-3,02-3,30-1,1-11-1,Classes
0,0.500000,0.250000,0.779661,0.541667,0.125000,0.389831,0.062500,0.422316,0.211158,0.067708,0.003906,2
1,0.944444,0.333333,0.966102,0.791667,0.314815,0.912429,0.111111,0.764831,0.722340,0.249228,0.012346,2

In [20]:
data = pd.read_csv('wisconsin.csv',sep=';')
data = data.drop('Id', axis=1)
data_std = data.copy()
data.head(5)

,Clump_Thickness,Uniformity_Cell_Size,Uniformity_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Classes
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [21]:
# Rename the column with the label with generic name 'Classes'
data.rename(columns={'Species':'Classes'}, inplace=True)
data_std.rename(columns={'Species':'Classes'},inplace=True)
# Setting of the Scaling (to interval (0,1)) phase
scaler = MinMaxScaler()

#Preprocessing: we get the columns names of features which have to be standardized
columns_names = list(data)
index_features = list(range(0,len(data_std.columns)-1))

#The name of the classes K
classes = data_std['Classes'].unique().tolist()
classes_en = [i for i in range(len(classes))] 

#Encoder processing
le = preprocessing.LabelEncoder()
le.fit(data_std['Classes'])

data_std['Classes'] = le.transform(data_std['Classes']) 

#Scaling phase
data_std[columns_names[0:len(index_features)]] = scaler.fit_transform(data_std[columns_names[0:len(index_features)]])

C:\Users\antoc\Anaconda3\envs\snakes\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [22]:
data_std = data_std.sample(frac= 1 ,random_state = 855).reset_index(drop=True)
data_ex =extended2_df(data_std)
# for bug in sklearn preprocessing package: non succede in tutti i dataset ma nel dubbio
data_std = data_std.replace(1.0000000000000002, 1)
data_std = data_std.replace(1.0000000000000004, 1)
data_std = data_std.replace(1.0000000000000009, 1)
data_ex = data_ex.replace(1.0000000000000002, 1)
data_ex = data_ex.replace(1.0000000000000004, 1)
data_ex = data_ex.replace(1.0000000000000009, 1)

In [23]:
prova1 = extended_kernel(data_std,data_std,2,initialization,type_reg="simple")

In [24]:
prova1.update()

Init values defined.
Objective function loaded

True

In [26]:
prova1.data_set.head(2)

,0,1,2,3,4,5,6,7,8,0-4,0-7,1-8,2-3,3-6,5-5,8-8,Classes
0,0.000000,0.111111,0.111111,0.0,0.111111,0.0,0.111111,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0
1,0.333333,0.000000,0.000000,0.0,0.111111,0.0,0.222222,0.111111,0.0,0.037037,0.037037,0.0,0.0,0.0,0.0,0.0,0

In [ ]:
# da qui in poi sono cose inutili: tentativi per comprendere come gestire l'espanzione nelle classi

In [42]:
dic

{0: '0', 1: '1', 2: '2', 3: '3', 4: '0-1', 5: '0-2', 6: '1-1', 7: '2-3'}

In [27]:
l = []
for i in b.columns:
    s = ''
    for j in i:
        if j!='-':
            s+= dic[int(j)]
    l.append(s)

In [28]:
l

['0',
 '1',
 '2',
 '3',
 '0-1',
 '0-2',
 '1-1',
 '2-3',
 '03',
 '00-2',
 '11-1',
 '22',
 '30-1',
 '0-11-1',
 '2-32-3']

In [29]:
vecchi = b.columns

In [31]:
b.columns = l

In [26]:
f = '0-1'
for i in f:
    if i!='-':
        print(i)

0
1

In [54]:
lunghezza = 4
list_fs =[0,2,3]
# 1e-3 is and eps in order to manage empyt scenarios
l =  [0] * int(4*(5)/2)
for n in list_fs:
    f = int(n)
    for j in range (f):
        if j < f-1:
            l[int(lunghezza*j+f-1)] += 1
        else:
            for k in range(lunghezza*j,lunghezza*j+(lunghezza-j)):
                l[k]+=1

In [3]:
lista = [0,1,3]
n = 4
val = [0] * int(n*(n+1)/2)
for l in lista:
    ix = 0
    agg = n
    for i in range(n):
        if i < l:
            val[ix+l-i] += 1
            ix += agg
            agg -= 1
        else:
            val[ix+i-l] += 1

In [4]:
val

[1, 2, 1, 2, 1, 1, 2, 0, 1, 1]

In [5]:
lista = [2,3]
n = 4
val = [0] * int(n*(n+1)/2)
for l in lista:
    ix = 0
    agg = n
    for i in range(n):
        if i < l:
            val[ix+l-i] += 1
            ix += agg
            agg -= 1
        else:
            val[ix+i-l] += 1

In [6]:
val

[0, 0, 1, 1, 0, 1, 1, 1, 2, 1]

In [7]:
lista = [0,3]
n = 4
val = [0] * int(n*(n+1)/2)
for l in lista:
    ix = 0
    agg = n
    for i in range(n):
        if i < l:
            val[ix+l-i] += 1
            ix += agg
            agg -= 1
        else:
            val[ix+i-l] += 1

In [8]:
val

[1, 1, 1, 2, 0, 0, 1, 0, 1, 1]

In [42]:
lunghezza = 4
list_fs =[0,2,3]
# 1e-3 is and eps in order to manage empyt scenarios
l =  [1e-3] * int(4*(5)/2)
for n in list_fs:
    f = int(n)
    for j in range (f+1):
        l[int(lunghezza*f+j)] += 1/(len(list_fs)**2)
    for k in range(lunghezza*j,lunghezza*j+(lunghezza-j)):
                l[k]+=1/(len(list_fs)**2)

IndexError: list index out of range

In [38]:
lunghezza = 4
list_fs =[0,2,3]
# 1e-3 is and eps in order to manage empyt scenarios
l =  [1e-3] * int(4*(5)/2)
for n in list_fs:
    f = int(n+1)
    for j in range (f):
        if j < f - 1:
            l[int(lunghezza*j+f-1)] += 1/(len(list_fs)**2)
        else:
            for k in range(lunghezza*j,lunghezza*j+(lunghezza-j)):
                l[k]+=1/(len(list_fs)**2)

range(0, 0)